<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Download Form</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body style="margin-left: 30px;">
    <form method="POST" class="form-group">
      {% csrf_token %}
      <input
        type="hidden"
        name="form-TOTAL_FORMS"
        value="10"
        id="id_form-TOTAL_FORMS"
      />
      <input
        type="hidden"
        name="form-INITIAL_FORMS"
        value="0"
        id="id_form-INITIAL_FORMS"
      />
      <input
        type="hidden"
        name="form-MIN_NUM_FORMS"
        value="0"
        id="id_form-MIN_NUM_FORMS"
      />
      <input
        type="hidden"
        name="form-MAX_NUM_FORMS"
        value="1000"
        id="id_form-MAX_NUM_FORMS"
      />
      {% for form in formset %}
      <p>
        <label
          class="form-label"
          for="id_form-{{ forloop.counter0 }}-{{ form.url.name }}"
          >Url #{{ forloop.counter }}:</label
        >
        <br />
        <input
          type="url"
          id="id_form-{{ forloop.counter0 }}-{{ form.url.name }}"
          name="form-{{ forloop.counter0 }}-{{ form.url.name }}"
          required
        />
      </p>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Download" />
    </form>
  </body>
</html>
