<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Status</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      function StompWsConnection() {
        if ("WebSocket" in window) {
          let socket = new SockJS("http://152.118.148.95:15674/stomp");
          let client = Stomp.over(socket);
          client.heartbeat.outgoing = 0;
          client.heartbeat.incoming = 0;

          const downloadStatusQueue =
            "/exchange/1706979234_TOPIC/download.{{ batch_code }}";
          const compressStatusQueue =
            "/exchange/1706979234_TOPIC/compress.{{ batch_code }}";
          const serverTimeQueue = "/exchange/1706979234_TOPIC/1706979234.TIME";
          const encryptedURLQueue =
            "/exchange/1706979234_TOPIC/url.{{ batch_code }}";

          const onConnect = function () {
            client.subscribe(downloadStatusQueue, downloadStatusQueueHandler);
            client.subscribe(compressStatusQueue, compressStatusQueueHandler);
            client.subscribe(encryptedURLQueue, encryptedURLQueueHandler);
            client.subscribe(serverTimeQueue, serverTimeQueueHandler);
          };

          const downloadStatusQueueHandler = function (message) {
            const messageJson = JSON.parse(message.body);
            const index = messageJson.order;
            const percentage = messageJson.progress;
            let progressBar = $(`#download-progress-${index}`);
            progressBar.text(`${percentage}%`);
            progressBar.attr("aria-valuenow", percentage);
            progressBar.css("width", `${percentage}%`);
          };

          const compressStatusQueueHandler = function (message) {
            const messageJson = JSON.parse(message.body);
            const percentage = messageJson.progress;
            let progressBar = $("#compress-progress");
            progressBar.text(`${percentage}%`);
            progressBar.attr("aria-valuenow", percentage);
            progressBar.css("width", `${percentage}%`);
          };

          const serverTimeQueueHandler = function (message) {
            const messageJson = JSON.parse(message.body);
            $("#server-time").html(new Date(messageJson.time));
          };

          const encryptedURLQueueHandler = function (message) {
            const messageJson = JSON.parse(message.body);
            const url = messageJson.url;
            $("#download-url").html(
              `<p>Download the compressed files here (the link will expire in 5 minutes):</p><a href=${url}>${url}</a>`
            );
          };

          const onError = function (error) {
            console.log(error);
          };

          client.connect(
            "0806444524",
            "0806444524",
            onConnect,
            onError,
            "/0806444524"
          );
        } else {
          alert("WebSocket is not supported!");
        }
      }

      StompWsConnection();
    </script>
  </head>
  <body style="margin-left: 30px;">
    <h3 class="h3">Current Time: <span id="server-time">0.0</span></h3>
    <table class="table">
      <thead>
        <th>No</th>
        <th>URL</th>
        <th>Download Progress</th>
      </thead>
      <tbody>
        {% for url in urls %}
        <tr id="file-{{ forloop.counter0 }}">
          <td>{{ forloop.counter }}</td>
          <td>{{ url }}</td>
          <td>
            <div
              id="download-progress-{{ forloop.counter0 }}"
              class="progress-bar"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              0%
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <h4>Compression Progress</h4>
      <div
        id="compress-progress"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        0%
      </div>
    </div>
    <br />
    <div id="download-url"></div>
    <br />
    <a href="/">Back to Download Form Page</a>
  </body>
</html>
